<div class="card">
  <p-table
    [dir]="'DIR' | translate"
    #dt2
    [value]="persons"
    [paginator]="true"
    [rows]="4"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    currentPageReportTemplate="{{'FROM' | translate}} {totalRecords}"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <span class="ticket-search flex justify-content-between align-items-center">
          {{ "TICKETSALES" | translate}}
          <span class="p-input-icon-{{ 'DIRWORD' | translate}}">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target), 'contains')" placeholder="{{ 'SEARCH' | translate }}" />
          </span>
          <p-button class="icon-search setting">
            <img src="assets/images/setting-4.svg" alt="">
          </p-button>
          <p-button class="icon-search" icon="pi pi-sort-alt"></p-button>
        </span>
        <span class="ticket-active flex justify-content-between align-items-center">
          <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
          <span *ngIf="checked">{{ "ACTIVATED" | translate}}</span>
          <span *ngIf="!checked">{{ "NOTACTIVATED" | translate}}</span>
          <p-button class="new-ticket" label="{{ 'NEWTICKET' | translate}}"></p-button>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>{{ "NAME" | translate }}</th>
        <th>{{ "TICKETNUMBER" | translate }}</th>
        <th pSortableColumn="ticketValue">{{ "TICKETVALUE" | translate }}<p-sortIcon field="ticketValue"></p-sortIcon></th>
        <th>{{ "CINEMAS" | translate }}</th>
        <th>{{ "PEOPLE" | translate }}</th>
        <th>{{ "VIEWS" | translate }}</th>
        <th>{{ "TICKET" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr>
        <td>{{ person.id }}</td>
        <td>
          <div class="ticket-download">
            <p-avatar [image]="person.image"></p-avatar>
            <div class="note">
              <h5 class="name">{{ person.name }}</h5>
              <p class="details">{{ person.phone }}</p>
            </div>
          </div>
        </td>
        <td>{{ person.ticketNumber }}</td>
        <td>{{ person.ticketValue }}</td>
        <td *ngIf="person.cinemas.length < 4">{{ person.cinemas }}</td>
        <td *ngIf="person.cinemas.length > 3"><span *ngFor="let cinema of person.cinemas ; let i=index"><span *ngIf="i<3">{{ cinema }}, </span></span><span [pTooltip]="person.cinemas.slice(3,-1)" tooltipPosition="top">...</span></td>
        <td>{{ person.numberOfPeople }}</td>
        <td>{{ person.numberOfViews }}</td>
        <td>
          <div class="ticket-download">
            <p-button [text]="true"><img src="assets/images/ticket.svg" alt=""></p-button>
            <div class="note">
              <h5 class="name">{{ person.ticket }}</h5>
              <p class="details">9mb - PDF</p>
            </div>
            <img src="assets/images/download.svg" alt="" [pTooltip]="'Download'">
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginator" style="display: flex;">

    </ng-template>
  </p-table>
</div>
